/* ************************* font **************************** */

@font-face {
    font-family: Open Sans, sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
}

/* *********************** body, html, headers ************** */
* {
    box-sizing: border-box;
}

html, body {   
    margin: 0;
}

body {   
    font-family: Open Sans, sans-serif;    
    background: linear-gradient(315deg, rgba(160,186,221,1) 37%, rgba(34,180,195,1) 100%);        
    background-repeat: no-repeat;
    background-attachment: fixed;       
}

h1, h2, h3 {
    font-weight: normal;   
    color: whitesmoke;
}

h2 {   
    padding-top: 30px;
    padding-bottom: 20px;
    text-align: center;
    font-size: 2rem;
    margin: 0;
}

/* ************************ search bar for new sets ********************** */

#formSearch {
    display: flex;   
    margin-bottom: 30px;       
    margin-left: 35px;
    margin-right: 35px;
}

#formSearch input {    
    font-size: 1.5rem;       
    padding-left: 10px;
    border-radius: 90px 0px 0px 90px;
    border: 0px;   
    width: 100%;    
    color: #838383;
}

::placeholder {
    color: silver;
}

#inputSearch:focus { 
    outline: 5px solid silver;   
    /* outline: none;    */
}  

#buttonSearch:focus {
    outline: none;
}

#formSearch img {
    width: 50%;
    padding: 5px 0px 5px 0px;    
}

#saveNewWishlist svg {
    fill: #838383;
}

#buttonSearch {   
    grid-column: 3 / 4;   
    padding: 0;
    border-radius: 0px 90px 90px 0px;
    border: 0px;   
    width: 100px;     
}


/* ************** filter sort by dropdown ******************** */

#divFilterDropdown, #divFilterDropdownW{
    display: flex;
    justify-content: center;
    align-items: center;
}

#divFilterDropdown h3, #divFilterDropdown h3 {
    margin: 0;
}

#filterTheme, #filterPrice, #filterChooseWishlist {
    color: #7e7e7e;
    background-color: whitesmoke; 
    border-radius: 90px;
    width: 100px;
    padding: 5px;
    border: none;
}

#filterTheme, #filterChooseWishlist {
    margin: 0px 10px;    
}

#filterTheme:focus, #filterPrice:focus {
    outline: 5px solid silver; 
}


/* *********************** sets **************************** */


.mainSets {
    display: none;    
}

#divSets {
    padding-bottom: 60px;
}

.sets {
    display: grid;    
    /* grid-template-columns: 3fr 3fr 1.5fr 1.5fr; */
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    max-width: 100vw;
    align-items: center;    
    justify-items: center;
    padding: 5px 5px;
    margin: 20px;
    align-content: space-evenly;    
    font-size: .9rem;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.27);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.9px);
    -webkit-backdrop-filter: blur(7.9px);
    border: 1px solid rgba(255, 255, 255, 0.18);
}

#setImg {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    object-fit: cover;
    width: 75%;
    max-height: 100%;
}

.name {
    grid-column: 3 / 5;
    grid-row: 1 / 2;
    padding-left: 10%;
}

.price {
    grid-column: 3 / 4;
    grid-row: 2 / 3
}   

#wishButtonImg {
    border: none;
    background: none;    
    object-fit: cover;
    width: 90%;
    max-height: 100%;   
}

.divWishlistButton {
    object-fit: cover;
    width: 90%;
    max-height: 100%;  
    grid-column: 4 / 5;
    grid-row: 2 / 3; 
}

/* ************************* theme ************************** */

#theme {
    display: grid;
}

/* *********************** expand image ********************* */
#divImgExpand {    
    position:fixed;
    top: 0;
    left:0;
    width:100%;
    height:100%;
    z-index: 1009;
    background: rgba(0, 0, 0, 0.494);
    display: flex;
    align-items: center;
}

#divImgExpand img {    
    width: 100%;    
}


/* ************************ wishlist ************************ */

#buttonWishUpDown {   
    z-index: 1000;
    border-radius: 90px;
    border: none;
    height: 45px;
    width: 45px;      
    background: none;    
}

#buttonWishUpDown svg{
    height: 20px;
    width: 20px;
    fill: whitesmoke;  
}

#smooth {
    min-height: 100%;
    /* position: relative; */
}

.wishlist {
        
    border-radius: 40px 40px 0px 0px;     
    min-height: 100vh;    
    background: linear-gradient(135deg, rgb(35 117 219) 37%, rgb(123 184 191) 100%);    
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: calc(100% + 100vh);
}

.divWishlist {
    display: none;
    position: fixed; 
    bottom: 0px;
    height: 50px;
    width: 100vw;    
    left: 0px;    
    background-color: aquamarine;    
    border-radius: 40px 40px 0px 0px;  
    box-shadow: 0px -1px 13px 0px #4a6060;
    z-index: 998;     
}

#divWishlistSets {       
    padding-bottom: 60px;   
}

#divWishlistTitle h1 {
    text-align: center; 
    margin: 0px;
    padding: 60px 20px 40px;
}

.divWishlistFooterOuter {
    display: flex;    
    height: 60px;
    width: 100vw;
    position: fixed;
    bottom: 0;    
    z-index: 1004;
    align-items: center;
    justify-content: center;
    /* background-color: aquamarine; */   
    border-radius: 40px 40px 0px 0px;  
    box-shadow: 0px -1px 13px 0px #4a6060;
    background: linear-gradient(315deg, rgb(35 117 219) 37%, rgb(123 184 191) 100%);        
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.divWishlistFooterOuter2 {
    display: flex;    
    height: 60px;
    width: 100vw;
    position: fixed;
    bottom: 0;       
    z-index: 1004;
    align-items: center;
    justify-content: center;    
    background: transparent;   
    /* transform: rotate(180deg);     */
}

.divWishlistFooterOuter2 svg {    
    transform: rotate(180deg);    
}

#divWishlistFooterOuter h1 {
    font-size: 1.5rem;   
    margin-right: 20px;    
    color: whitesmoke;    
}

.divWishlistButton {
    border: none;
    background: none;
}

#stop {
    position:sticky;
    top: 0px;
}


#wishlistFilter {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: sticky;
    top: 40%;
    bottom: 50%;
}


#wlH3 {  
    margin: 0;    
} 

#sss {
    display: flex;
    justify-content: center;
    /* padding-top: 30px; */
    /* margin-bottom: 10px; */
}


#saveNewWishlist {
    color: whitesmoke;
    font-weight: normal;
    text-align: center;
    font-size: 1.17rem;
}


#saveNewWishlist svg {
    height: 30px;
} 

/* ************************ name new wishlist ************************ */

#saveNewWishlist {
    display: flex;   
    margin: 30px 35px;
    margin-bottom: 30px;       
    margin-left: 35px;
    margin-right: 35px;
}

#saveNewWishlist input {    
    font-size: .90rem;       
    padding-left: 10px;
    border-radius: 90px 0px 0px 90px;
    border: 0px;   
    width: 100%;    
    color: #838383;
}

::placeholder {
    color: silver;
}

#saveNewWishlist:focus { 
    outline: 5px solid silver;   
    /* outline: none;    */
}  

#buttonLookUpWishlist2:focus {
    outline: none;
}

#saveNewWishlist svg {
    width: 50%;
    padding: 5px 0px 5px 0px;    
    fill: #838383;
}

#buttonLookUpWishlist2 {   
    grid-column: 3 / 4;   
    padding: 0;
    border-radius: 0px 90px 90px 0px;
    border: 0px;   
    width: 100px;     
}

#create {
    /* border-radius: 30px; */
    border: none;
    padding: 10px;
    /* color: silver; */
    color: #7e7e7e;
    background-color: whitesmoke; 
    border-radius: 90px;
}

.notHere {
    display: none;
}

#nameChosenBricklist {
    text-align: center;
    /* margin-right: 30px; */
}

#savedPopup {
    position: fixed;
    visibility: hidden;
    top: 10px; 
    right: 10px;
    color: green;
    background-color: rgb(203, 255, 124);
    width: 80px;
    height: 40px;
    text-align: center;    
    padding-top: 10px;
    border-radius: 90px;
}

#savedPopup.appear {
    visibility: visible;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@keyframes fadein {
    from {top: 0; opacity: 0;}
    to {top: 10px; opacity: 1;}
  }

  @keyframes fadeout {
    from {top: 10px; opacity: 1;}
    to {top: 0; opacity: 0;}
  }

#buttonHome {
    background: rgb(35, 117, 219);
    border: none;
    border-radius: 90px;
    height: 45px;
    width: 45px;     
}

#buttonHome svg {
    transform: rotate(270deg);   
    height: 20px;
    width: 20px;
    fill: whitesmoke;
}

#wishlistHeadline {  
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    gap: 40px;
}