/* ************************* font **************************** */

@font-face {
    font-family: Open Sans, sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
}



/* *********************** body, html, headers ************** */

html {
    height: 100%;
}
body {   
    font-family: Open Sans, sans-serif;    
    background: linear-gradient(315deg, rgba(160,186,221,1) 37%, rgba(34,180,195,1) 100%);    
    height: auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-bottom: 100px;
}

h1, h2, h3 {
    font-weight: normal;
    /* color: #000000; */
    color: whitesmoke;
}

h2 {
    margin: 30px  0px 20px;
    text-align: center;
    font-size: 2rem;
}

body {
    margin: 0;
}



/* ************************ search bar ********************** */

#formSearch {
    display: flex;   
    margin-bottom: 30px;       
    margin-left: 35px;
    margin-right: 35px;
}

#formSearch input {    
    font-size: 1.5rem;       
    padding-left: 10px;
    border-radius: 90px 0px 0px 90px;
    border: 0px;   
    width: 100%;    
    color: #838383;
}

::placeholder {
    color: silver;
}

#inputSearch:focus  { 
    outline: 5px solid silver;   
    /* outline: none;    */
}  

#buttonSearch:focus {
    outline: none;
}

/* #inputSearch:active {  */
    /* outline: 5px solid  silver;    */
    /* outline: none;    */
    /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
/* }   */

#formSearch img {
    width: 50%;
    padding: 5px 0px 5px 0px;    
}

#buttonSearch {   
    grid-column: 3 / 4;   
    padding: 0;
    border-radius: 0px 90px 90px 0px;
    border: 0px;   
    width: 100px;     
}



/* ************** filter sort by dropdown ******************** */
/* ************** (button and form not currently used) ******************** */

#divButtonFilter {
    display: flex;    
    /* margin-bottom: 30px;     */
    justify-content: center;               
}

#buttonFilter {
    display: inline-flex;
    justify-content: center; 
    align-items: center; 
    height: 30px;    
    width: 30%;   
    font-size: 1.25rem;
    letter-spacing: 1px;    
    color: #b6b6b6;    
    border: none;  
    border-radius: 45px;
    background: #efefef;
}

#buttonFilter img {    
    padding-left: 15%;   
    padding-top: 5%;
    padding-bottom: 5%;
    height: 90%;    
}

#buttonFilterForm {        
    grid-template-columns: .5fr 30fr .5fr 30fr .5fr 30fr;
    align-items: center;   
    background: rgba(255, 255, 255, 0.62);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.9px);
    -webkit-backdrop-filter: blur(7.9px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    padding: 10px;
    margin: 0px 20px;
}

#buttonFilterForm input[type='checkbox'] {
    height: 30px;   
}

#buttonFilterForm input[type='button'] {
    height: 30px;
    width: inherit;
    grid-column-start: 6;    
    margin: 0px 20px;    
}

#divFilterDropdown {
    display: flex;
    justify-content: center;
    align-items: center;
}

#divFilterDropdown h3 {
    margin: 0;
}

#filterTheme, #filterPrice {
    color: #7e7e7e;
    background-color: whitesmoke; 
    border-radius: 90px;
    width: 100px;
    padding: 5px;
    border: none;
}

#filterTheme {
    margin: 0px 10px;    
}

#filterTheme:focus, #filterPrice:focus {
    outline: 5px solid silver; 
}


/* ************************** hr *************************** */


/* #hrMainBottom, #hrMainTop {
    height: 12px;
    border: 0;
}

#hrMainTop {
    box-shadow: inset 0 -12px 12px -12px rgba(0, 0, 0, 0.5);
}

#hrMainBottom {
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
} */



/* ************************ example set ******************** */


#divMainExampleSet {
    position: sticky;
    top: 0;
    z-index: 997;
    background: linear-gradient(315deg, rgba(160,186,221,1) 37%, rgba(34,180,195,1) 100%);
    box-shadow: 0 0px 20px 0px rgba(0, 0, 0, 0.5);
    color: whitesmoke;
    font-size: .75rem;
    margin-top: 30px;
}

#divExampleSet {    
    display: grid;    
    /* grid-template-columns: 1.5fr .75fr 2fr 1fr .75fr; */
    grid-template-columns: 3fr 3fr 1.5fr 1.5fr;
    max-width: 100vw;    
    margin: 0px 20px 20px 20px;
    align-items: center;
    justify-items: center;    
}

#divExampleImg {
    grid-column: 1 / 2;
    /* object-fit: cover; */
    width: 55%;
    /* max-height: 100%;     */
    /* height: 50%; */
}

/* #divExampleSetNumber {
    grid-column: 2 / 3;
} */

#divExampleSetName {
    grid-column: 2 / 3;
}

#divExamplePrice {
    grid-column: 3 / 4;
}

#divExampleAddToWishlist {
    grid-column: 4 / 5;    
}



/* *********************** sets **************************** */

.sets {
    display: grid;    
    grid-template-columns: 3fr 3fr 1.5fr 1.5fr;
    max-width: 100vw;
    align-items: center;    
    justify-items: center;
    padding: 20px 0px;
    margin: 20px;
    align-content: space-evenly;
    row-gap: 20px;
    font-size: .75rem;

    /* From https://css.glass */
    /* background: rgba(255, 255, 255, 0.07);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.11); */

    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.27);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.9px);
    -webkit-backdrop-filter: blur(7.9px);
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.sets img {
    object-fit: cover;
    width: 100%;
    max-height: 100%;   
}





/* ************************* theme ************************** */

#theme {
    display: grid;
}



/* *********************** expand image ********************* */
#divImgExpand {    
    position:fixed;
    top: 0;
    left:0;
    width:100%;
    height:100%;
    z-index: 999;
    background: rgba(0, 0, 0, 0.494);
    display: flex;
    align-items: center;
}

#divImgExpand img {    
    width: 100%;    
}


/* ************************ wishlist ************************ */

#divWishlist {
    height: 50px;
    width: 100vw;    
    left: 0px;
    bottom: 0px;   
    background-color: aquamarine;
    padding-bottom: 25px;  
    border-radius: 40px 40px 0px 0px;  
    box-shadow: 0px -1px 13px 0px #4a6060;
    z-index: 998;     
}

#divWishlistSets {
    display: grid;    
    grid-template-columns: 3fr 3fr 1.5fr 1.5fr;
    max-width: 100vw;
    height: 80%;
    align-items: center;    
    justify-items: center;    
    margin: 20px;   
    align-content: space-evenly;
    row-gap: 20px;
    font-size: .75rem;    
    overflow-y: scroll;

    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.62);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.9px);
    -webkit-backdrop-filter: blur(7.9px);
    border: 1px solid rgba(255, 255, 255, 0.18);    
}

#divWishlistTitle h1 {
    text-align: center; 
}

#divWishlistFooterOuter {
    overflow: hidden;
    position: relative;
}

#divWishlistFooter {
    position: absolute;
    height: 100px;
    width: 100px;
    bottom: -100px;   
    background-color: blue;    
}

#stop {
    position:sticky;
    top: 0px;
}



/* ************************ test!!!!!!!!! ************************ */


.img {
    grid-column: 1 / 2;
    object-fit: cover;
    width: 75%;
    max-height: 100%;
}

.name {
    grid-column: 2 / 3;
    padding-left: 10%;
}

.price {
    grid-column: 3 / 4;
}   

.wishButton {
    border: none;
    background: none;
    grid-column: 4 / 5;
}