p {
  margin: 0;
}

.lists {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;   
}

.subLists {
  width: 50%;    
  margin: 0 20px;
}

.setDiv {
  display: flex;
  padding: 0px 30px;
  margin: 20px 0px;
  justify-content: space-between;
}

.setDivButtons {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: stretch;
}

input {
  width: 200px;
  margin-left: calc( 50% - 100px );
  margin-top: 50px;
  margin-bottom: 50px;
}

.middle {
  width: 5px;
  background-color: black;
}